.cards{
    background-color: rgb(210, 243, 243);
    width: 450px;
    margin: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    text-shadow: 2px 2px 8px gray;
    margin-top: 150px;
    margin-bottom: -120px;
    border:none;
    box-shadow: 1px 1px 8px 0px lightseagreen;
    
}

.image_box{
    text-align: center;
}
#title{
    font-size: 26px;
    color: rgb(17, 97, 235);
}
.details span{
    font-size: 22px;
    color: black;
}

.details p{
    color: rgb(82, 79, 79);
}

.details button{
    font-size: 20px;
    padding: 8px 20px;
    border: none;
    background-color: pink;
    cursor: pointer;
    margin-left: 30%;
}

.details button:hover{
    background-color: blue;
    color: white;
}
.details{
    background-color: white;
    padding: 10px 20px;
    margin: -3px -20px -5px -20px;
}